<!DOCTYPE html>
<html lang="en">

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/normalize.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

  <title>FlashhhhhhCardsssss!!!</title>
  <style>
      body {
        padding-top: 100px;
      }
    </style>

</head>

<body style='background-image:url(http://abs.twimg.com/images/themes/theme1/bg.png);background-repeat:repeat-x;background-color: #C0DEED'>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner" style='background: white;'>
    <div class="container">

      <p class="navbar-styling" style='color:#528EFF;'>The Flash Cards Game</p>

    </div>
  </div>
</div>

<div class="container">
    <% if session[:username] %>
      Hello <%= session[:username] %><br>
    <a href="/log_out">Log out</a>
    <% end %>
  <div class="row">
    <div class= "col-md-3">
    </div>
    <div class= "col-md-6" style='margin-top:80px;'>
      <div style='float: right;'>
      </div>
      <%= yield %>
    </div>
    <div class= "col-md-3">
    </div>
  </div>
</div>





<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
