

<div id="top"

  <p id="feedback"></p>

</div>

<div id="meter">
  <progress value="0" max="100"></progress>
</div>

<div id="map-canvas"/>

<div id="bottom">

  <h4 id="message">Your word is ... </h4>

  <h2 id="question" > <%= @card.question %> </h2>

  <form id="user_input" action="/round/<%= @card.deck_id %>" method="post">
    <input id= "guess" type="text" name="answer">
    <input id ="button" type="submit" value="Guess">
  <!--   <input type="submit" value="Skip"> -->
  </form>

</div>